/* Importing Font - Glacial Indifference */
@font-face {
    font-family: "Glacial Indifference";
    src: url("/files/GlacialIndifference-Regular.otf") format("OpenType");
    font-style: normal;
}

@font-face {
    font-family: "Glacial Indifference";
    src: url("/files/GlacialIndifference-Bold.otf")  format("OpenType");
    font-weight: bold;

}

@font-face {
    font-family: "Glacial Indifference";
    src: url("/files/GlacialIndifference-Italic.otf")  format("OpenType");
    font-style: italic;
}

/* Set Glacial Indifference as Default Font */
* {
    font-family: "Glacial Indifference"
}

/* Removes Underlines on Links except on Hover */
.btn-link {
    text-decoration: None
}
.btn-link:hover {
    text-decoration: underline;
}

/* Removes Points on Unordered List */
ul {
    list-style: None;
}

/* Change Pill Background when Active to Dark */
.nav-pills .nav-link.active {
    background-color: #343A40;
}

/* Remove Button Border upon Click */
.btn:focus {
    outline: None;
    box-shadow: None;
}